 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.coverPhoto{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0),  #0e2637 ),
   url("https://i.postimg.cc/wx4kLQhS/Dise-o-sin-t-tulo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.coverPhoto nav {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 18%;
  margin: 5rem -2rem;
}

nav a{
  text-decoration: none;
  color:  #ffc12f;
  font-size: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

.myProfileContainer{
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 57%;
  width: 47%;
  color: white;
  padding-right: 2rem;
  padding-left: 1rem;
  border-bottom: 6px solid   #ffc12f79   ;
  border-right: 6px solid   #ffc12f79  ;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.301) 45%, rgba(255,255,255,0) 100%);
}

.containerChildren{
  display: flex;
}

.nameContainer{
  width: 60%;
}

.nameContainer h1{
  font-size: 4rem;
  color:  #ffc12f  ;
}

.nameContainer p{
  font-size: 1.2rem;
  letter-spacing: 1.5px  ;
}

.logoContainer{
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
  height: 15%;
}

.logoContainer a span:first-child {
  display: inline-block;
  padding: 25px;
}

.logoContainer a {
    display: block;
    position: relative;
    overflow: hidden;
}

.logoContainer a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.logoContainer a span {
  transition: transform 0.2s ease-out;
}

.logoContainer a:hover span:first-child {
  transform: translateY(100%);
}

.logoContainer a:hover span:last-child {
  transform: none;
}

.myNetworks{
  font-size: 1.2rem;
  color: #ffc12f;
  font-weight: bold;
}

.logoSocialOne{
  width: 83px;
  height: 83px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoSocialTwo{
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myPhoto{
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.titleWorks{
  color: #ffc12f;
  font-size: 5rem;
  padding-left: 3rem;
}

.containerAllWorks{
  display: flex;
  flex-direction: column;
  background-color: #0e2637;
  width: 100%;
  align-items: center;
}

.projectContainer{
  display: flex;
  padding: 4rem 0;
  justify-content: space-evenly;
  margin: 0 3rem;
  width: 85vw;
}

div.containerAllWorks > div:nth-child(2n){
  border-bottom: 2.5px solid   white;
  border-right: 2.5px solid   white;
  border-bottom-right-radius: 15px;
}

div.containerAllWorks > div:nth-child(2n+1){
  flex-direction: row-reverse;
  border-bottom: 2.5px solid   white;
  border-left: 2.5px solid   white;
  border-bottom-left-radius: 15px;
}

div.containerAllWorks > div:nth-child(2n+1) div.infoContainer > div:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.containerAllWorks > div:nth-child(2n+1) div.infoContainer{
  align-items: flex-end;
}

div.containerAllWorks > div:last-child{
  border-bottom: none;
  border-bottom-right-radius: 0;
}

.linkPageContainer{
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.infoContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
}

.infoContainer h1{
  
  margin-bottom: 3.5rem;
  font-style: oblique;
  color: whitesmoke;
  font-size: 4rem;
}

.infoContainer p{
  color: #ffc12f;
  font-size: 1.5rem;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.descriptionContainer{
  width: 75%;
}

.languageContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
  background-color: #ffc12f5b;
  padding: 0.5rem;
  border-radius: 15px;
}

.languageContainer p{
  font-size: 2.2vmin;
  color: #0e2637;
}

.photoProject{
  height: 29rem;
  width: 52rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 1.2rem;
  box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.397);
  -webkit-box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.384);
  -moz-box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.397);
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 29rem;
  width: 52rem;
  background-color: #ffffff6c;
  opacity:0;
  transition: opacity 0.3s;
  border-radius: 15px;
}

.links div{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links a span:first-child {
  display: inline-block;
  padding: 25px;
}

.links a {
    display: block;
    position: relative;
    overflow: hidden;
}

.links a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.links a span {
  transition: transform 0.2s ease-out;
}

.links a:hover span:first-child {
  transform: translateY(100%);
}

.links a:hover span:last-child {
  transform: none;
}


.linkToNewPage{
  color: #0e2637;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;

}

.photoProject:hover .links{
  opacity:1;
}

.titleWorks{
  background-color: #0e2637;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: #0e2637;
}

.aboutContainer h1{
  width: 95%;
  text-align: end;
  font-size: 4.5rem;
  color:  #ffc12f;
}

.profilePhoto{
  height: 22vw;
  width: 19vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  border-radius: 15px;
  box-shadow: 1px 2px 20px 20px rgba(0,0,0,0.38);
  -webkit-box-shadow: 1px 2px 20px 20px rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 2px 20px 20px rgba(0,0,0,0.38);
}

.libraries{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.myData{
  width: 80vw;
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  border: 6px solid   #ffc12f79;
  border-right: none;
  border-bottom: none;
}

.profileOnAbout{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
}

.logoOnAbout{
  width: 100%;
}

.myDescription{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.myDescription h3{
  font-style: oblique;
  color: whitesmoke;
  font-size: 2rem;
}

.paragraph p{
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: whitesmoke;
}

.logoOnAbout{
  align-self: flex-start;
}

.footerContainer{
  background-color: #0e2637;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20vh;
}

.footerContainer h3{
  color: #0e2637;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 1rem 0;
  background-color: #ffc12f4d;
  width: 100%;
  text-align: center;
}

@media (max-width: 1650px){

  .coverPhoto nav {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 5rem -2rem;
  }

  .photoProject{
    height: 22rem;
    width: 40rem;
    margin: 1.2rem;
  }

  .infoContainer p{
    font-size: 1rem;
  }

  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 22rem;
    width: 40rem;
    background-color: #ffffff6c;
    opacity:0;
    transition: opacity 0.3s;
    border-radius: 15px;
  }

  .links div{
    width: 40%;
  }

  .myProfileContainer{
    width: 60%;
  }

  .infoContainer{
    padding: 0;
  }

  .languageContainer{
    width: 100%;
    padding: 0.5rem;
    
  }

  .languageContainer p{
    font-size: 1.7vmin;
  }

  div.containerAllWorks > div:nth-child(2n+1) div.infoContainer > div:nth-child(1) {
    align-items: center;
  }

}

@media (max-width: 1250px){

  .myProfileContainer{
    width: 70%;
  }

  .infoContainer p{
    font-size: 1rem;
  }
  
  .languageContainer p{
    font-size: 1.5vmin;
  }

   .projectContainer{
    width: 90vw;
  }

  .photoProject{
    height: 20rem;
    width: 30rem;
    margin: 1.2rem;
  }

  .infoContainer h1{
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }

  .linkToNewPage{
    font-size: 1.2rem;
  }

  .links{
    height: 20rem;
    width: 30rem;
  }

  div.containerAllWorks > div:nth-child(2n+1) div.infoContainer > div:nth-child(1) {
    align-items: center;
  }

  .paragraph p{
    font-size: 1rem;
  }

  .profilePhoto {
    height: 22vw;
    width: 18vw;
  }

  
}

@media (max-width: 950px){
  .infoContainer{
    width: 85%;
  }

 div.infoContainer > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.containerAllWorks > div:nth-child(2n+1){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectContainer {
    display: flex;
    padding: 3rem 0;
    flex-flow: column;
    align-items: center;
    margin: 0 3rem;
  }

  .linkPageContainer{
    justify-content: center;
    width: 100%;
  }

  .myProfileContainer{
    width: 90%;
  }

  .coverPhoto{
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }

  .myDescription{
    width: 50%;
  }

  .linkToNewPage{
    font-size: 1.2rem;
  }

  .coverPhoto nav{
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
  }

  .logoContainer{
    width: 60%;
  }

  .profilePhoto {
    height: 30vw;
    width: 25vw;
  }

  .logoOnAbout{
    width: 100%!important;
    align-self: center;
  }
}

@media (max-width: 700px){
  .languageContainer p{
    font-size: 2vmin;
  }

  .descriptionContainer{
    width: 100%;
  }

  .linkToNewPage{
    font-size: 1.2rem;
  }

  .coverPhoto nav{
    width: 60%;
  }

  .paragraph p{
    font-size: 0.9rem;
  }

  .myData{
    width: 95vw;
  }
}

@media (max-width: 500px){
  .myDescription{
    width: 50%;
  }

  #root > div.aboutContainer > div > div.myDescription > div:nth-child(2){
    display: none;
  }

  .myPhoto{
    width: 8rem!important;
    height: 8rem!important;
    align-self: center;
  }

  .myProfileContainer{
    width: 95%;
  }
  
}

@media (min-width: 400px) and (max-width: 699px){
  .logoContainer a span:first-child{
    padding: 0;
  }

  .photoProject{
    width: 90%;
  }

  .links{
    width: 100%;
  }

  .myPhoto{
    height: 10rem;
    width: 10rem;
    align-self: center;
  }

  .titleWorks{
    padding-left: 1rem;
    font-size: 3.5rem;
  }

  .linkToNewPage{
    font-size: 1.2rem;
  }
}

@media (min-width: 300px) and (max-width: 399px){

  .coverPhoto nav {
    width: 80%;
}

  .titleWorks{
    font-size: 3.2rem;
    padding-left: 0.5rem;
  }

  .logoContainer a span:first-child{
    padding: 0;
  }

  .linkToNewPage{
    font-size: 1.2rem;
  }

  .myData{
    flex-direction: column;
  }

  .myDescription{
    width: 90%;
    align-self: center;
  }

  .profileOnAbout{
    padding-top: 0;
  }

  .profilePhoto {
    height: 45vw;
    width: 40vw;
}

.photoProject{
  width: 90%;
}

.links{
  width: 100%;
}

.aboutContainer h1{
  font-size: 3.2rem;
}

.linkPageContainer h1{
  text-align: center;
  font-size: 2.5rem;
}
}